   <% include ./header %>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('./images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>揪團</h1>
                        <hr class="small">
                        <span class="subheading">大家來揪團</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <% articleList.forEach(function(article) { %>
                      <div class="post-preview">
                          <a href="/article/<%= article.id %>">
                              <h2 class="post-title">
                                <%= article.title %>
                              </h2>
                              <h3 class="post-subtitle">
                                <%= article.content %>
                              </h3>
                          </a>
                          <p class="post-meta">Posted by <a href="#"><%= article.member.name %></a> on
                            <%= article.createdAt %>
                          </p>
                      </div>
                      <hr>
                <%  }); %>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Contracts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <% include ./footer %>
